<div class = "displayorg">
   <div class = "container">
      <% @organisers.each do |organiser| %>
          <div class = "orgdetails">
              <p > <%=organiser.firstname %> <%=organiser.lastname%>  <%=organiser.country %>  <%=organiser.email %> </p>
              
          </div>
      <% end %>
      <% if @messages.empty? %>
       <% @organisers.each do |organiser| %>
          <div class = "orgdetails">
              <p >  <%=organiser.email %> </p>
          </div>
      <% end %>
      <% end.empty? %>
        You have no messages.
<% end %>
   </div>
</div>




